{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Liste des commentaires</h1>

	<table class="table table-dark table-hover table-borderless">
		<thead class="text-center">
			<tr>
				<th>Id</th>
				<th>Commentaire</th>
				<th>Note</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="text-center">
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.details }}</td>
					<td>{{ comment.rate  }}</td>
					<td>
						<a href="{{ path('comment_show', {'id': comment.id}) }}" class="btn btn-secondary my-1 mx-1">Voir</a>
						{% if is_granted("ROLE_ADMIN") or app.user == comment.getAuthor()%}
						<a href="{{ path('comment_edit', {'id': comment.id}) }}" class="btn btn-warning my-1 mx-1">Modifier</a>
						{%endif%}
						{% if is_granted("ROLE_ADMIN") or app.user == comment.getAuthor()%}
						{{ include('comment/_delete_form.html.twig') }}
						{%endif%}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas de commentaire trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}