{% extends 'base.html.twig' %}

{% block title %}
	Commentaires - episode
	{{ comment.episode.number }}
{% endblock %}

{% block body %}

	<div class="card mb-3" style="width: 70rem;">
			<div class="col-md-8">
				{% for comment in comment.episode.comments %}
					<div class="card-body">
						<h4 class="card-title">Title:
							{{ comment.episode.title }}</h4>
						<h5 class="card-text">Episode:
							{{ comment.episode.number }}</h5>
						<p class="card-text">Synopsis:
							{{ comment.episode.synopsis }}</p>
						<h5 class="card-text">Commentaire</h5>

							<p>{{ comment.details}}</p>
							<p>Note: {{ comment.rate}}</p>
						{% endfor %}
					
					<div class="card-body">
						{% if app.user %}
							<a href="{{path('comment_new', {'id' : comment.episode.id })}}" class="btn btn-primary">Ajouter un commentaire</a>
						{% endif %}
						<a href="{{path('comment_index')}}" class="btn btn-info mx-3">Retour aux commentaires</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}