<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li ><a href="/" class="nav-link px-2 text-white">Accueil</a></li>
                <li ><a href="/program" class="nav-link px-2 text-white">Series</a></li>
                <li ><a href="/category" class="nav-link px-2 text-white">Categories</a></li>
                <li ><a href="/actor" class="nav-link px-2 text-white">Acteurs</a></li>
                {{ component('navbar') }}
            </ul>
            {% if app.user %}
                {{ app.user.email }}
                <form action="{{ path('app_logout') }}" method="post" >
                    <button type="submit" class="btn btn-danger my-2 mx-4">Se deconnecter</button>
                </form>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-info my-2 mx-4"> Se connecter</a>
            {% endif %}
        <button class="btn btn-dark mx-1" {{ stimulus_action('theme', 'toggleDarkMode') }}>Toggle dark mode</button>
        </div>
    </div>
</header>